* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1280px;
}
.nav-ul li a {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}
#dropdown-menu {
  width: 90%;
  height: 50vh;
  left: -100vw;
  top: 70px;
  transition: all 0.5s;
  z-index: 15;
  background: white;
}

.sliders::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
}
.addCart {
  position: absolute;
  bottom: -100vh;
  left: 40%;
  transition: 0.5s all;
}
.card:hover .addCart {
  bottom: 20px;
}
.card figure img {
  transition: all 0.5s;
}
.card:hover img {
  transform: scale(1.5);
}
.footUl li:hover {
  color: #43d5be;
}
/* looder section start */
.loder {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 454;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1 {
  width: 2px;
  height: 20px;
  background-color: #43d5be;
  animation: animat infinite 0.5s linear;
  transition: all 0.3s;
}
.item2 {
  width: 2px;
  height: 20px;
  background-color: #43d5be;
  margin-left: 4px;
  animation: animat2 infinite 0.5s linear;
  animation-delay: 0.3s;
  transition: all 0.3s;
}
.item3 {
  width: 2px;
  height: 20px;
  background-color: #43d5be;
  margin-left: 4px;
  animation: animat3 infinite 0.5s linear;
  transition: all 0.3s;
}
.item4 {
  width: 2px;
  height: 20px;
  background-color: #43d5be;
  margin-left: 4px;
  animation: animat4 infinite 0.5s linear;
  transition: all 0.3s;
}
.item5 {
  width: 2px;
  height: 20px;
  background-color: #43d5be;
  margin-left: 4px;
  animation: animat5 infinite 0.5s linear;
  transition: all 0.3s;
}

@keyframes animat {
  0% {
    height: 20px;
  }

  100% {
    height: 0px;
  }
}
@keyframes animat2 {
  0% {
    height: 0px;
  }

  100% {
    height: 20px;
  }
}
@keyframes animat3 {
  0% {
    height: 20px;
  }

  100% {
    height: 0px;
  }
}
@keyframes animat4 {
  0% {
    height: 0px;
  }

  100% {
    height: 20px;
  }
}
@keyframes animat5 {
  0% {
    height: 20px;
  }

  100% {
    height: 0px;
  }
}

.searchContainer {
  display: none;
}
.profileMenu {
  position: absolute;
  top: -100%;
  width: 35%;
  height: 40vh;
  right: 0;
  z-index: 1254;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  transition: all 0.3s;
}
#profileMenu.ne {
  top: 64px;
}
/* cart section */
.cartSection {
  position: absolute;
  top: -100%;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: white;
  z-index: 55;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
}
#cartBtn {
  z-index: 56;
}
.cartSection.showCart {
  top: 0;
}
#notify {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  left: -3px;
  color: white;
  font-size: 20px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .card:hover .addCart {
    bottom: 5px;
  }
  .addCart {
    bottom: 5px;
  }
  .profileMenu {
    height: 51vh;
  }
  .cartSection {
    width: 100%;
  }
}
